---
import {Image, Picture} from '@astrojs/image/components'

import Layout from '../../layouts/Layout.astro'

import Card from '@components/Card.astro'

const categories = await Astro.glob('../../categories/*.md')

let allCategories = []
const related = categories.map(
  i =>
    i.frontmatter.categories &&
    i.frontmatter.categories.map(category => allCategories.push(category))
  // console.log(i.frontmatter.title)
)

let unique = [...new Set(allCategories)]
---

<Layout siteTitle="Lastest work" description="Latest work from Just Wild">
  <section
    class="w-full md:w-3/4 mx-auto p-6 grid grid-cols-1 md:grid-cols-2 gap-6 mb-6 md:mb-20 md:mt-20"
  >
    <h1 class="text-2xl md:text-3xl font-black col-span-full">My work</h1>
    {
      categories.map((category, i) => (
        <Card background="bg-transparent">
          {category.frontmatter.image && i <= 1 ? (
            <Image
              class="w-full overflow-hidden object-cover object-top"
              src={category.frontmatter.image}
              alt={category.frontmatter.title}
              height={250}
              width={400}
              loading="eager"
            />
          ) : (
            <Image
              class="w-full overflow-hidden object-cover object-top"
              src={category.frontmatter.image}
              alt={category.frontmatter.title}
              height={250}
              width={400}
            />
          )}
          <div class="p-6 space-y-6 bg-neutral">
            <h2 class="text-2xl font-bold">{category.frontmatter.title}</h2>
            <a
              class="px-4 py-1 hover:ring-4 focus:ring-4 hover:ring-highlight focus:ring-highlight border border-current rounded-md inline-flex"
              href={`/photos/${category.frontmatter.slug}`}
            >
              View Photos
            </a>
          </div>
        </Card>
      ))
    }
  </section>
</Layout>
