---
import {Image} from '@astrojs/image/components'

import Card from './Card.astro'

const photos = await Astro.glob('../pages/photos/*.md')
const featuredImages = photos.filter(
  photo => photo.frontmatter.featured && !null
)
---

<div
  class="w-11/12 md:w-4/5 mx-auto grid grid-cols-1 md:grid-cols-3 gap-6 my-12"
>
  {
    featuredImages.map(feature => (
      <Card>
        <div class="p-6 space-y-6">
          <Image
            class="max-w-full object-cover object-top"
            src={`/src/images/${feature.frontmatter.image}`}
            alt={feature.frontmatter.title}
            aspectRatio="16:9"
            height={300}
          />
          <h2 class="text-xl font-bold">{feature.frontmatter.title}</h2>
          <a
            class="px-4 py-1 focus:ring-4 focus:ring-pink-600 hover:ring-4 hover:ring-pink-600 border border-current rounded-md inline-flex"
            href={feature.url}
          >
            View photo
          </a>
        </div>
      </Card>
    ))
  }
</div>
