---
import {Image} from '@astrojs/image/components'
import Icon from './Icon.astro'
// const navItems = await Astro.glob('../navigation/*.md')

// const items = navItems
//   .map(item => item.frontmatter)
//   .sort((a, b) => a.order - b.order)
// // const sorted = items.sort((a, b) => a.order - b.order)

// const path = Astro.url.pathname

export interface Props {
  siteTitle?: string
  background?: string
  logo?: string
  menuItems: any
}

const {
  siteTitle,
  background = 'bg-primary',
  logo,
  menuItems,
} = Astro.props as Props
---

<header class={`${background} py-3 px-6 sticky top-0 z-50`}>
  <div class="flex justify-between items-center">
    <div class="w-full">
      <a
        class="flex w-full justify-center md:justify-start items-center gap-3"
        href="/"
      >
        <Image
          class="h-8 w-8 lg:h-12 lg:h-auto object-contain rounded-full bg-neutral p-1"
          src={logo}
          height="48"
          width="48"
          alt="Just Wild logo"
        />
        <span class="text-2xl lg:text-3xl font-black">{siteTitle}</span>
      </a>
    </div>

    <nav
      aria-label="Main site menu"
      class="fixed z-50 border-t border-t-slate-300 lg:border-t-0 bg-white md:bg-transparent md:relative bottom-0 left-0 right-0"
    >
      <ul class="justify-evenly p-2 flex gap-6">
        {
          menuItems.map(item => (
            <li class="w-max">
              <a
                class={`group flex gap-2 items-center ${
                  Astro.url.pathname === item.slug
                    ? 'active menu-item'
                    : 'menu-item'
                }`}
                href={item.slug ? item.slug : '/'}
              >
                <Icon icon={item.icon} />

                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
