---
import Card from '../components/Card.astro'
import {Image} from '@astrojs/image/components'
const settings = await Astro.glob('../settings/settings.md')

export interface Props {
  title?: string
  content: any
  buttonText?: string
  items?: number
}

const {
  title,
  content,
  buttonText = 'View Photo',
  items = settings[0].frontmatter.relatedPhotos,
} = Astro.props as Props
---

<aside class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
  {
    title && (
      <h2 class="text-lg md:text-2xl font-bold col-span-full">{title}</h2>
    )
  }

  {
    content.slice(0, items).map(photo => (
      <Card>
        <div class="p-6 gap-6 flex flex-col h-full">
          <Image
            class="w-full object-cover object-top"
            src={photo.image}
            alt={photo.title}
            height={200}
            width={300}
          />
          <h2 class="text-base md:text-lg font-bold">{photo.title}</h2>
          <a
            class="px-3 py-1 focus:ring-4 focus:ring-highlight hover:ring-4 hover:ring-highlight border border-current rounded-md inline-flex mt-auto w-fit"
            href={photo.slug}
          >
            {buttonText}
          </a>
        </div>
      </Card>
    ))
  }
</aside>
